<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">AGENDA /</span> CONSULTA </h4>
<div class="container agendacontenedor">
  <div class="row">
       <div class="col-md-3 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">
              <div class="avatar flex-shrink-0">
                <i class="bx bx-calendar-plus"></i>
              </div>
              <div class="dropdown">
                <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                </div>
              </div>
            </div>
             <span class="fw-semibold d-block mb-1">HOY</span>
            {{#if hoy.0.hoy}}
            <h3 class="card-title mb-2">{{ hoy.0.hoy }}</h3>
            {{else}}
            <h3 class="card-title mb-2">0</h3>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">
              <div class="avatar flex-shrink-0">
                <i class='bx bx-calendar-check' ></i>
              </div>
              <div class="dropdown">
                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                </div>
              </div>
            </div>
            <span class="fw-semibold d-block mb-1">MAÑANA</span>
            {{#if maniana.0.maniana}}
            <h3 class="card-title mb-2">{{ maniana.0.maniana }}</h3>
            {{else}}
            <h3 class="card-title mb-2">0</h3>
            {{/if}}
            
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">
              <div class="avatar flex-shrink-0">
                <i class='bx bxs-calendar-exclamation'></i>
              </div>
              <div class="dropdown">
                <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                  <a class="dropdown-item" href="javascript:void(0);">View More</a>
                  <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                </div>
              </div>
            </div>
            <span class="fw-semibold d-block mb-1">ASIGNADOS</span>
            {{#if pactadas.0.pactadas}}
            <h3 class="card-title mb-2">{{ pactadas.0.pactadas }}</h3>
            {{else}}
            <h3 class="card-title mb-2">0</h3>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="col-md-3 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">
              <div class="avatar flex-shrink-0">
                <i class="bx bx-calendar"></i>
              </div>
              
            </div>
            <span class="fw-semibold d-block mb-1">FECHA</span>
            <div class="btn-group" role="group">
              
              <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ fecha }}
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item disabled" href="">Toda la semana</a>
                <a class="dropdown-item disabled" href="">Todo el mes</a>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
      
     
    </div>
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
 

  <h1 class="h3 mb-2 text-gray-800">TURNOS</h1>
  <p class="mb-4">Aca aparecen los Turnos que se agendaron ordenadas por fecha.</p>

    <!-- DataTales Example -->
  <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">TURNOS</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id cita</th>
                            <th>Fecha cita</th>
                            <th>Hora</th>
                            <th>Nombre Paciente</th>
                            <th>Apellido Paciente</th>
                            <th>DNI Paciente</th>
                            <th>Contacto Paciente</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Id cita</th>
                          <th>Fecha cita</th>
                          <th>Hora</th>
                          <th>Nombre Paciente</th>
                          <th>Apellido Paciente</th>
                          <th>DNI Paciente</th>
                          <th>Contacto Paciente</th>
                          <th>Estado</th>
                          <th>Acciones</th>
                        </tr>
                    </tfoot>
                    
                    <tbody id="table-product-body">
                      {{#each agenda}}
                      <tr id="paciente-{{this.id_agenda}}">
                        <td>{{this.id_agenda}}</td>
                        <td>{{this.fecha_cita}}</td>
                        <td>{{this.hora}}</td>
                        <td>{{this.nombre_paciente}}</td>
                        <td>{{this.apellido_paciente}}</td>
                        <td><a href="/paciente/modificar?dni={{this.dni_paciente}}">{{this.dni_paciente}}</a></td>
                        <td>{{this.contacto_paciente}}</td>
                        <td><span class="badge bg-white text-primary">{{this.descripcion}}</span></td>
                        <td>
                          <div class="btn-group btn-group-horizontal">
                            
                            <button data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="" data-bs-original-title="<i class='bx bx-chair bx-xs' ></i> <span>Confirmar asistencia</span>"  onclick="peticionAjax('/agenda/ensala?id={{this.id_agenda}}','GET','true')" class="btn btn-icon btn-outline-success ml-1"><i class="bx bx-chair"></i></button>
                            <button data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="" data-bs-original-title="<i class='bx bx-trash bx-xs' ></i> <span>Eliminar Cita</span>" onclick="peticionAjax('/agenda/eliminar?id={{this.id_agenda}}','DELETE','true')" class="btn btn-icon btn-outline-danger ml-1"><i class="bi bi-trash"></i></button>
                            {{!-- <a data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="" data-bs-original-title="<i class='bx bx-pencil bx-xs' ></i> <span>Modificar Cita</span>" href="/agenda/alta?id={{this.id_agenda}}"  class="btn btn-icon btn-outline-primary m-1"><i class="bi bi-pencil-fill"></i></a> --}}
                          </div>
                        </td>
                        
                      </tr>
                      {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</div>






<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="../js/funcionesHtmlAgenda.js"></script>
<script src="../js/main.js"></script>
{{! <script></script> }}