{{! <style>
    .form-group{ flex-basis: 50% !important; box-sizing: border-box !important; }img{width: 5rem;height: 3rem;}td{vertical-align: middle; }
</style> }}
<div class="modal fade" id="citas" tabindex="-1" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
    <div class="modal-content p-2 p-md-5">
      <div class="modal-body">
        <div class="text-center">
          <h3 class="mb-2">Citas</h3>
          <p>Citas concretadas</p>
        </div>
      </div>
      <h4 class="mb-4 pb-2">Nos visito <span >{{ pactadas.[0].pactadas}}</span> vez</h4>
      <ul class="p-0 m-0">
        {{#each citas}}
          <li class="d-flex mb-3">
            <div class="avatar me-3">
              <i class="bi bi-calendar-check"></i>
            </div>
            <div class="d-flex justify-content-between flex-grow-1">
              <div class="me-2">
                <p class="mb-0">{{ this.nombre_paciente }} {{ this.apellido_paciente }} </p>
                <p class="mb-0 text-muted">{{ this.comentario_cita }}</p>
              </div>
              <div class="text-end">
                <p class="mb-0">{{ this.fecha }}</p>
                <p class="mb-0 text-muted">{{ this.hora }}</p>
              </div>
            </div>
          </li>
        {{/each}}
        
      </ul>
      <div class="d-flex align-items-center mt-4">
        <i class="bx bx-user me-2"></i>
        <div class="d-flex justify-content-between flex-grow-1 align-items-center">
          <h6 class="mb-0">Proxima Cita Sugerida {{ proximacita.[0].proxima_cita}}, descartar si tiene para este año</h6>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
       
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1"  aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h3 class="mb-2">Crear Plantilla</h3>
          <p>Selecciona el tipo de calzado</p>
        </div>
         <div class="row mt-3">
              <div class="col-2 p-3 offset-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="tipoCalzado" id="zapatos" value="zapatos" onclick="seleccionarTipoCalzado('Zapatos')">
                  <label class="form-check-label" for="zapatos">
                    Zapatos
                  </label>
                </div>
              </div>
              <div class="col-2 p-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" checked type="radio" name="tipoCalzado" id="zapatillas" value="zapatillas" onclick="seleccionarTipoCalzado('Zapatillas')">
                  <label class="form-check-label" for="zapatillas">
                    Zapatillas
                  </label>
                </div>
              </div>
              <div class="col-2 p-3">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="tipoCalzado" id="botines" value="botines" onclick="seleccionarTipoCalzado('Botines')">
                  <label class="form-check-label" for="botines">
                    Botines
                  </label>
                </div>
              </div>
            </div>
            <div class="row mb-3 p-1">
              <label class="col-sm-2 col-form-label" for="lienzo"></label>
              <div class="col-1 col-sm-2">
                <div id="resetButton" class="form-control btn btn-danger" style="cursor: w-resize" data-bs-toggle="tooltip" data-bs-tooltip="tooltip" data-bs-trigger="hover" title="Limpiar">
                  <i class="bi bi-bootstrap-reboot"></i>
                </div>
              </div>
              <div class="col-1 col-sm-2">
                  <div id="resetButton" class="form-control btn btn-secondary" style="cursor:w-resize" onclick="undo()"data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-tooltip="tooltip" title="Atras"  ><i class="bi bi-arrow-left"></i></div>
              </div>
              <div class="col-1 col-sm-2">
                <div><input  class="form-control" type="color" id="colorPicker" data-bs-toggle="tooltip" data-bs-tooltip="tooltip" data-bs-trigger="hover" title="Color del trazo"></div>
              </div>
              <div class="col-1 col-sm-2">
                <input class="form-control" type="number" id="strokeWidth" min="1" max="10" step="1" value="1" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-tooltip="tooltip" title="Grosor del trazo">
              </div>
              
              
            </div>
            <div class="row mb-3">
              
              <div class="col-12 offset-1 col-sm-12">
                      <canvas id="myCanvas"  class="input-group-text" style="cursor: se-resize" width="600" height="430"></canvas>
              </div>
            </div>
           
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        <div id="saveButton" onclick="guardarServer()" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-tooltip="tooltip" data-bs-trigger="hover" title="Crear Croquis" >Crear</div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="plantillascreadas" data-bs-backdrop="static" tabindex="-1"  aria-modal="true" role="dialog">
  <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h3 class="mb-2">Plantillas creadas</h3>
          <p>Con las flechas direccionales se puede navegar en las imagenes.</p>
        </div>
          <div class="row">
          <div id="carouselExample-cf" class=" offset-1 col-10 carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              {{#each files}}
                  <li data-bs-target="#carouselExample-cf" data-bs-slide-to="{{@index}}" class="{{#if @first }}active {{/if}}"  {{#if @first }}aria-current="true" {{/if}}></li>
              {{/each}}
            
            </ol>
            <div class="carousel-inner">
              {{#each files}}
                <div class="carousel-item {{#if @first }}active {{/if}}">
                  <img class="d-block w-100" src="/storage/{{this.dni}}/{{this.nombre}}" >
                  <div class="carousel-caption d-none d-md-block">
                    <h3>{{this.dni}}</h3>
                    <p>{{this.nombre}}</p>
                  </div>
                </div>
              {{/each}}
              
            </div>
            <a class="carousel-control-prev" href="#carouselExample-cf" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample-cf" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id="generarPDF" class="btn btn-danger">Generar PDF</div>

        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
       
      </div>
    </form>
  </div>
</div>
{{#if paciente.0.id_paciente}}   
{{#if modificar}}
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">PACIENTES /</span> MODIFICAR
</h4>       
{{else}}
<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">PACIENTES /</span> SOLO LECTURA
</h4>
{{/if}}

 
{{else}}         
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">PACIENTES /</span> ALTA
  </h4>
{{/if}}



<div class="container">
  <div class="row">
   
    <!-- Basic with Icons -->
    <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0"> <i class="bx bx-id-card"></i>  Agendar Paciente</h5> <small class="text-muted float-end">Formulario de alta de paciente.</small>
        </div>
        <div class="card-body">
          
          
           <form  id="paciente-form" method="POST" action="/paciente/alta">
            <div class="row mb-3 offset-xl-1">
              <div class="col-sm-12 mt-4 mb-4">
                {{#if paciente.0.id_paciente}}
                 
                   
                    <button type="button" class="btn m-1 btn-dark" data-bs-toggle="modal" data-bs-target="#plantillascreadas"> Plantillas creadas </button>
                    <button type="button" class="btn m-1 btn-info" data-bs-toggle="modal" data-bs-target="#citas" > Citas </button>
                  
                  

                {{/if}}

              </div>
             
              <div class="col-sm-4 col-xl-2">
                   <label class=" col-form-label" for="nombre_paciente"><i class="bx bx-user"></i>  Nombre</label>
                  <input type="text" class="form-control" value="{{paciente.0.nombre_paciente}}" id="nombre_paciente" name="nombre_paciente" required placeholder="John Doe" aria-label="John Doe" aria-describedby="nombre_paciente2">
                
              </div>
            
              
              <div class="col-sm-4 col-xl-2">
                <label class="col-form-label" for="apellido_paciente"> <i class="bx bx-user"></i>  Apellido</label>
                  <input value="{{ paciente.0.apellido_paciente }}" type="text" class="form-control"  id="apellido_paciente" required name="apellido_paciente" placeholder="Smith" aria-label="Smith" aria-describedby="apellido_paciente2">
                
              </div>
            
              
              <div class="col-sm-4 col-xl-2">
                <label class=" col-form-label" for="dni_paciente"><i class="bx bx-id-card"></i>  D.N.I.</label>
                  <input value="{{ paciente.0.dni_paciente }}" type="text" class="form-control" required id="dni_paciente" name="dni_paciente" placeholder="12345678" aria-label="12345678" aria-describedby="dni_paciente2">
                
              </div>

            
             
              <div class="col-sm-2 col-xl-1">
                 <label class=" col-form-label" for="peso_paciente"><i class="bi bi-heart-pulse"></i>  Peso</label>
                  <input value="{{ paciente.0.peso_paciente }}" type="text" class="form-control" required id="peso_paciente" name="peso_paciente" placeholder="75" aria-label="75" aria-describedby="peso_paciente2">
              </div>

            
            
           
              <div class="col-sm-2 col-xl-1">
                  <label class=" col-form-label" for="altura_paciente">Altura</label>
                  <input value="{{ paciente.0.altura_paciente }}" type="text" class="form-control" required id="altura_paciente" name="altura_paciente" placeholder="180" aria-label="180" aria-describedby="altura_paciente2">
              </div>

              <div class="col-sm-2 col-xl-1">
                  <label class=" col-form-label"  for="edad_paciente">Edad</label>
                    <input value="{{ paciente.0.edad_paciente }}" type="text" class="form-control" required id="edad_paciente" name="edad_paciente" placeholder="30" aria-label="30" aria-describedby="edad_paciente2">
              </div>

            </div>
            
            <div class="row mb-3 offset-xl-1">
              
              <div class="col-sm-4 col-xl-2 ">
                <label class=" col-form-label" for="nacimiento_paciente"><i class="bx bx-calendar"></i>  Nacimiento</label>
                  <input value="{{ paciente.0.fecha_formateada_nacimiento }}" type="date" class="form-control" required id="nacimiento_paciente" name="nacimiento_paciente" aria-describedby="nacimiento_paciente2">
                
              </div>

              <div class="col-sm-2">
                <label class="col-form-label" for="talle_paciente"><i class="bx bx-ruler"></i>  Talle</label>
                
                  <input value="{{ paciente.0.talle_paciente }}" type="text" class="form-control" required id="talle_paciente" name="talle_paciente" placeholder="M" aria-label="M" aria-describedby="talle_paciente2">
                
              </div>


              <div class="col-sm-3 col-xl-2 ">
                
                   <label class="col-form-label" for="contacto_paciente"><i class="bx bx-phone"></i>  Contacto</label>
                  <input value="{{ paciente.0.contacto_paciente }}" type="text" class="form-control" required id="contacto_paciente" name="contacto_paciente" placeholder="1234567890" aria-label="1234567890" aria-describedby="contacto_paciente2">
                
              </div>

            <div class="col-sm-3">
                  <label class="col-form-label" for="email_paciente"><i class="bx bx-envelope"></i>  Email</label>
                  <input value="{{ paciente.0.email_paciente }}" type="email" class="form-control" required id="email_paciente" name="email_paciente" placeholder="john.doe@example.com" aria-label="john.doe@example.com" aria-describedby="email_paciente2">
                
              </div>

            
            </div>

            
            <div class="row mb-3 offset-xl-1">
              <div class="col-sm-6 col-xl-4 ">
                <label class=" col-form-label" for="alergia"><i class="bx bx-heart"></i>  Alergia</label>
                <textarea   class="form-control" required id="alergia" name="alergia" aria-describedby="alergia2">{{ paciente.0.alergia }}</textarea>
              </div>
              <div class="col-sm-6 col-xl-5 ">
                <label class=" col-form-label" for="diabetico"><i class="bx bx-heart"></i>  Diabetico</label>
                <textarea   class="form-control" required id="diabetico" name="diabetico" aria-describedby="diabetico2">{{ paciente.0.diabetico }}</textarea>
              </div>
              
            </div>
              <div class="row mb-6 offset-xl-1">

                <div class="col-sm-6 col-xl-4">
                  <label class=" col-form-label" for="tobillo"><i class="bi bi-clipboard2-pulse"></i>  Tobillo</label>
                  <textarea  class="form-control" required id="tobillo" name="tobillo" aria-describedby="tobillo2">{{ paciente.0.tobillo }}</textarea>
                </div>
              
                <div class="col-sm-6 col-xl-5  ">
                  <label class=" col-form-label" for="rodilla"><i class="bi bi-clipboard2-pulse"></i>  Rodilla</label>
                  <textarea   class="form-control" required id="rodilla" name="rodilla" aria-describedby="rodilla2">{{ paciente.0.rodilla }}</textarea>
                </div>
              </div>

              <div class="row mb-3 offset-xl-1">
                <div class="col-sm-6 col-xl-4 ">
                  <label class=" col-form-label" for="cadera"><i class="bi bi-clipboard2-pulse"></i>  Cadera</label>
                  <textarea  class="form-control" required id="cadera" name="cadera" aria-describedby="cadera">{{ paciente.0.cadera }}</textarea>
                </div>
                <div class="col-sm-6 col-xl-5 ">
                  <label class=" col-form-label" for="columna"><i class="bi bi-clipboard2-pulse"></i>  Columna</label>
                  <textarea class="form-control" required id="columna" name="columna" aria-describedby="columna2">{{ paciente.0.columna }}</textarea>
                </div>
                <div class="col-sm-6 col-xl-4">
                  <label class=" col-form-label" for="calzados"><i class="bx bx-body"></i>  Calzados</label>
                  <textarea  class="form-control" required id="calzados" name="calzados" aria-describedby="calzados2">{{ paciente.0.calzados }}</textarea>
                </div>
                <div class="col-sm-6 col-xl-5 ">
                  <label class=" col-form-label" for="patologia"><i class="bx bx-heart"></i>  Patologias</label>
                  <textarea   class="form-control" required id="patologia" name="patologia" aria-describedby="patologia2">{{ paciente.0.patologia }}</textarea>
                </div>
                
              </div>
            <div class="row mb-3">
              <div class="card-header d-flex align-items-center justify-content-between">
                
                <h5 class="mb-0"><i class="bi bi-clipboard2-pulse"></i>  Patologias 
                  </h5>
              </div>
              
              
                
              <label class="col-sm-2 col-form-label" ></label>
              
              {{!-- <div class="col-sm-3 col-xl-2">
                <div class="form-check form-switch"><input class="form-check-input float-end form-control" type="checkbox" role="switch" name="alergia" id="alergia" >ALERGICO</div>
                
              </div>
              <div class="col-sm-3 col-xl-2">
                
                <div class="form-check form-switch"><input class="form-check-input float-end form-control" type="checkbox" role="switch" name="diabetico" id="diabetico" >DIABETICO</div>
              </div>
              <div class="col-sm-3 col-xl-2">
                <div class="form-check form-switch"><input class="form-check-input float-end form-control" type="checkbox" role="switch" name="primeravez" id="primeravez" >ALERGICO</div>
              </div> --}}
              <label class="col-sm-2 col-form-label  m-3" for="comentario_paciente">Comentario</label>
              <div class="col-sm-7  offset-2">
                <div class="input-group input-group-merge">
                  <span id="comentario_paciente2" class="input-group-text"><i class="bx bx-comment-square"></i></span>
                  <textarea class="form-control" id="comentario_paciente" name="comentario_paciente" rows="4" >{{ paciente.0.comentario_paciente }}</textarea>
                </div>
              </div>

              
            </div>
            
            <div class="row mt-4 mb-4">
              <div class="col-sm-10 offset-xl-2 offset-sm-1 ">
                <a href="/paciente/siguiente" class="btn m-1 btn-warning "> <-Sala de espera</a>
              
                {{#if paciente.0.id_paciente}}
                  {{#if modificar}}
                    <button type="button" class="btn m-1 btn-primary" data-bs-toggle="modal" data-bs-target="#backDropModal" > Crear Plantilla</button>
                    <input value="{{ paciente.0.id_paciente }}" type="text" class="form-control d-none"  id="id_paciente" name="id_paciente" >
                    <button type="" class="btn m-1 btn-success" data-bs-toggle="tooltip" data-bs-tooltip="tooltip" data-bs-trigger="hover" title="Modificar paciente">Guardar paciente</button>
                    
                  {{/if}}
                {{else}}
                <input value="0" type="text" class="form-control d-none"  id="id_paciente" name="id_paciente" placeholder="john.doe@example.com" aria-label="john.doe@example.com" aria-describedby="email_paciente2">
                <button type="submit" class="btn m-1 btn-success">Guardar Paciente</button>
                {{/if}}
              </div>
            </div>
          </form>
          {{!-- <form  > --}}
           
            
            
          {{!-- </form> --}}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="../js/main.js"></script>
<script>



// Función para generar un PDF
  function generarPDF() {
    // Código para generar el contenido del PDF
    const nombre = document.getElementById('nombre_paciente');
    const apellido = document.getElementById('apellido_paciente').value;
    const dni = document.getElementById('dni_paciente').value;
    const peso = document.getElementById('peso_paciente').value;
    console.log(dni);
    // Crea el contenido del PDF

    const contenidoPDF = [
      {
        text: 'Datos del paciente',
        style: 'header',
      },
      {
        text: `Nombre: ${nombre} ${apellido}`,
        style: 'subheader',
      },
      {
        text: `DNI: ${dni}`,
        style: 'subheader',
      },
      {
        text: `Peso: ${peso}`,
        style: 'subheader',
      },
      {
        text: 'Croquis',
        style: 'header',
      },
      {
        image: canvas.toDataURL(),
        width: 500,
        height: 300,
      },
    ];  

    // Define el documento PDF
    const documentoPDF = {
      content: contenidoPDF,
    };

    // Genera el PDF
    pdfMake.createPdf(documentoPDF).open();
  }

  // Asigna el evento de clic al botón "Generar PDF"
  const generarPDFButton = document.getElementById('generarPDF');
  generarPDFButton.addEventListener('click', generarPDF);
const canvas = document.getElementById('myCanvas');
const ctx = canvas.getContext('2d');

const tipoCalzadoText = document.createElement('div');
  tipoCalzadoText.classList.add('tipo-calzado-text');
  document.body.appendChild(tipoCalzadoText);

let isDrawing = false;
let lastX = 0;
let lastY = 0;
let currentColor = 'black'; // Color inicial
let currentLineWdth = 1; // Grosor inicial
let undoStack = [];

const strokeWidth = document.getElementById('strokeWidth');
strokeWidth.addEventListener('keyup', updateStroke);

function updateStroke() {
  currentLineWdth = strokeWidth.value;
}



const colorPicker = document.getElementById('colorPicker');
colorPicker.addEventListener('change', updateColor);

function updateColor() {
  currentColor = colorPicker.value;
}

function drawFeet(tipoCalzado) {
  // Borra todo el contenido del lienzo
  ctx.clearRect(0, 0, canvas.width, canvas.height);

  // Calcula la posición vertical para dibujar los pies
  var centerY = canvas.height / 2 - 30 + 20 ;

  // Calcula la posición horizontal para dibujar los pies
  var centerX1 = canvas.width / 2 - 125;
  var centerX2 = canvas.width / 2 + 125;

  // Dibuja el primer pie
  ctx.beginPath();
  ctx.ellipse(centerX1, centerY, 100, 150, 0, 0, 2 * Math.PI);
  ctx.stroke(); // Dibuja el óvalo del primer pie

  // Dibuja el segundo pie
  ctx.beginPath();
  ctx.ellipse(centerX2, centerY, 100, 150, 0, 0, 2 * Math.PI);
  ctx.stroke(); // Dibuja el óvalo del segundo pie

  // Dibuja la línea horizontal superior
  ctx.beginPath();
  ctx.moveTo(0, centerY - 70); // Punto inicial
  ctx.lineTo(canvas.width, centerY - 70); // Línea hasta el final del canvas
  ctx.stroke(); // Dibuja la línea horizontal superior

  // Dibuja la línea horizontal inferior
  ctx.beginPath();
  ctx.moveTo(0, centerY + 70); // Punto inicial
  ctx.lineTo(canvas.width, centerY + 70); // Línea hasta el final del canvas
  ctx.stroke(); // Dibuja la línea horizontal inferior

  // Dibuja el tipo de zapato seleccionado
  ctx.font = '34px Roboto';
  ctx.textAlign = 'right';
  ctx.fillStyle = '#FF0000';
  ctx.fillText(tipoCalzado, canvas.width - 10, canvas.height - 10);
}


  // Vuelve a dibujar los pies y el tipo de zapato seleccionado
  function seleccionarTipoCalzado(tipo) {
    drawFeet(tipo);
  }

  // Dibuja los pies al cargar la página
  drawFeet('Zapatillas');

// Habilitar el dibujo cuando se toca el lienzo
canvas.addEventListener('touchstart', startDrawing, { passive: false });
canvas.addEventListener('touchmove', draw, { passive: false });
canvas.addEventListener('touchend', stopDrawing);
canvas.addEventListener('touchcancel', stopDrawing);

function startDrawing(e) {
  isDrawing = true;
  const touch = e.touches[0];
  const rect = canvas.getBoundingClientRect();
  [lastX, lastY] = [touch.clientX - rect.left, touch.clientY - rect.top];
  e.preventDefault(); // Evita el desplazamiento de la página durante el dibujo
  // Guardar los pasos anteriores en un array
  saveState();
}


function draw(e) {
  if (!isDrawing) return;

  const touch = e.touches[0];
  const rect = canvas.getBoundingClientRect();
  const x = touch.clientX - rect.left;
  const y = touch.clientY - rect.top;

  ctx.strokeStyle = currentColor;
  ctx.lineWidth = currentLineWdth;
  ctx.lineJoin = 'round';
  ctx.lineCap = 'round';

  ctx.beginPath();
  ctx.moveTo(lastX, lastY);
  ctx.lineTo(x, y);
  ctx.stroke();

  [lastX, lastY] = [x, y];
  e.preventDefault(); // Evita el desplazamiento de la página durante el dibujo
}

function stopDrawing() {
  saveState();
  isDrawing = false;
}


// Descargar el dibujo al hacer clic en el botón "Descargar"
{{!-- const saveButton = document.getElementById('saveButton'); --}}
{{!-- saveButton.addEventListener('click', downloadCanvas); --}}


const guardarServer = () =>{
  const canvas = document.getElementById('myCanvas');
  const dni_paciente = window.location.search.replace("?dni=","")
  const data = {img:canvas.toDataURL().replace(/^data:image\/png;base64,/, ""),name:dni_paciente}
  console.log(data);
   $.ajax({
    url: '/paciente/imagen',
    method: 'POST',
    data:data,
    success: function(response) {
      // Aquí puedes trabajar con la respuesta obtenida
      console.log(response);
      //mostra un toast que diga que el croquis se guardo correctamente y recarga la pagina despues de 3 segundos
      let title = "Hecho";
      let message = 'El croquis fue guardado';
      let duration = 3000; // 5 segundos
      let type = 'bg-success';
      
      showBootstrapToast(title, message, duration,type);
      //cerra el modal backDropModal 
      $('#backDropModal').modal('hide');
      setTimeout(function(){ location.reload(); }, 3000);
      
      
    },
    error: function(error) {
      // Aquí puedes manejar los errores en caso de que ocurran
      console.log('Error:', error);
    }
}); 

}


function downloadCanvas() {
  
  //obtener de la url lo que sigue despues del signo ?dni=
  const name = window.location.search.replace("?dni=", "");
 

  //obtener la imagen del canvas
  
  const img = canvas.toDataURL();
  
 
    const data = {
      img,
      name
    };
    console.log(data);
    // Realizar la solicitud POST al servidor
    axios.post('/paciente/imagen', data)
      .then(response => {
        console.log(response);
        console.log('Imagen subida correctamente');
      })
      .catch(error => {
        console.error('Error al subir la imagen:', error);
      });
  
}


const resetButton = document.getElementById('resetButton');
resetButton.addEventListener('click', resetCanvas);

function resetCanvas() {
  // Borra todo el contenido del lienzo
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.strokeStyle = 'black';
  ctx.lineWidth = 1;
  drawFeet('Zapatillas');
  
  //establecé el tipo de calzado en el radio button
  let radioButton = document.getElementsByName('tipoCalzado');
  //si el text es igual a Zapatillas
  if (radioButton[0].value == 'Zapatillas') {
    //selecciona el radio button de zapatillas
    radioButton[0].checked = true;
  } else {
    //selecciona el radio button de zapatos
    radioButton[1].checked = true;
  }


}




// Función para guardar el estado actual
function saveState() {
      let state = ctx.getImageData(0, 0, canvas.width, canvas.height);
      undoStack.push(state);
    }

// Función para deshacer
function undo() {
      if (undoStack.length > 1) {
        undoStack.pop();
        let previousState = undoStack[undoStack.length - 1];
        ctx.putImageData(previousState, 0, 0);
      }
    }
</script>
{{! <script></script> }}