{{! <style>
    .form-group{ flex-basis: 50% !important; box-sizing: border-box !important; }img{width: 5rem;height: 3rem;}td{vertical-align: middle; }
</style> }}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> PACIENTES/</span> CONSULTA </h4>
<div class="container">
  <div class="card">
  <h5 class="card-header">PACIENTES</h5>
    <div class="table-responsive text-nowrap">
      <table class="table" id="dataTable">
        <thead>
          <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Talle</th>
            <th>Contacto</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">

          {{#each pacientes}}
                <tr id="paciente-{{this.id_paciente}}">
                  <td><a href="/paciente/modificar?dni={{this.dni_paciente}}">{{this.dni_paciente}}</a></td>
                    <td><i class=""></i> <strong>{{this.nombre_paciente}}</strong></td>
                    <td><i class=""></i> <strong>{{this.apellido_paciente}}</strong></td>
                    <td>{{this.talle_paciente}}</td>
                    <td><a target="_blank"  href="https://wa.me/{{this.contacto_paciente}}">{{this.contacto_paciente}}<a/></td>
                    <td><span class="badge bg-label-primary me-1">{{this.email_paciente}}</span></td>
                </tr>
            {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../js/funcionesHtmlAgenda.js"></script>
<script src="../js/main.js"></script>
{{! <script></script> }}