{{! <style>
    .form-group{ flex-basis: 50% !important; box-sizing: border-box !important; } img{width: 5rem;height: 3rem;} td{vertical-align: middle; }
</style> }}

<div id="product-conteiner" style="width: 80%;margin: auto;padding: 3rem 0">

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                <th scope="col">Codigo</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Stock</th>
                <th scope="col">Imagen</th>
                <th scope="col">Borrar</th>
                <th scope="col">Agrear Carrito</th>
            </tr>
        </thead>
        <tbody id="table-product-body">
            {{#each productos}}
                <tr id="product-{{this._id}}">
                    <td>{{this._id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.code}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.stock}}</td>
                    <td><img class="" src="../pictures/{{this.thumbnail}}" /></td>
                    <td><button type="button" class="btn btn-danger" onclick="borrarProducto('{{this._id}}')"><i class="bi bi-trash3-fill"></i></button></td>
                    <td><button type="button" class="btn btn-success" onclick="addCarritoLive('{{this._id}}')"><i class="fa-solid fa-cart-plus">+</i></button></td>
                </tr>
            {{/each}}

        </tbody>
    </table>
    <ul class="pagination">
        <li class="page-item"><a id="btnPrev" class="page-link aDisable" href="#">Previous</a></li>
        {{#each links}}
            <li class="page-item"><a class="page-link" href="{{this.href}}">{{this.label}}</a></li>
        {{/each}}
        <li class="page-item"><a id="btnNext" class="page-link" href="#">Next</a></li>
    </ul>

</div>
<div id="form-conteiner" style="width: 80%;margin: auto; padding-bottom: 3rem;">
    <form id="paciente-form" style="width: 50%; margin: auto;display: flex; flex-wrap: wrap;">
        <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" class="form-control" id="form-product-title" name="title" required />
        </div>
        <div class="form-group">
            <label for="description">Descripcion</label>
            <input type="text" class="form-control" id="form-product-description" name="description" required />
        </div>
        <div class="form-group">
            <label for="price">Precio</label>
            <input type="text" class="form-control" id="form-product-price" name="price" required />
        </div>
        <div class="form-group">
            <label for="thumbnail">Thumbnail</label>
            <input type="file" class="form-control" id="form-product-thumbnail" name="thumbnail" required />
        </div>
        <div class="form-group">
            <label for="code">Codigo</label>
            <input type="text" class="form-control" id="form-product-code" name="code" required />
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="text" class="form-control" id="form-product-stock" name="stock" required />
        </div>
        <div class="form-group">
            <label for="status">Estado</label>
            <input type="text" class="form-control" id="form-product-status" name="status" required />
        </div>
        <div class="form-group">
            <label for="category">Cateoria</label>
            <input type="text" class="form-control" id="form-product-category" name="category" required />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/funcionesLiveProduct.js"></script>